
.container {
  text-align: center;
  padding: 40px;
  font-family: Arial, sans-serif;
  direction: rtl; 
  background-color: #f0f8ff;
  min-height: 100vh;
}


.main-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}


.button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.button:hover {
  background-color: #45a049;
}